<!DOCTYPE html>
<html>

<head>
  <title>Miniflix</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
  <li>
    <%= link_to('Users', admin_users_path) %>
  </li>
  <li>
    <%= link_to('Movies', admin_movies_path) %>
  </li>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
  <% end %>
  <br />
  <%= yield(:breadcrumb) %>
  <%= yield %>
</body>

</html>